body {
	background: #fff url('images/profile.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;
	font: 100%/1.375 Georgia, serif;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}