
<section id="now">
<div class="container">
  <h3>At the moment i'm spending my time on:</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li>working full time as a Front End Engineer @ <a href="http://it.jobrapido.com/">Jobrapido</a></li>
        <li>working daily with AngularJs, Sass, NodeJs</li>
        <li>studying at <a href="http://sicurezzaonline.di.unimi.it/">SSRI online</a></li>
        <li>learning React and Flux</li>
        <li>trying to get rid of some extra belly fat with some gym, pilates and rockabilly dancing lessons (the hardest thing!)</li>
        <li>enjoying my wedding life</li>
        <li>planning trips (South America or Canada)</li>
        <li>starting a project with some friends about Japan, <a href="http://www.yabai.it">Yabai</a></li>
      </ul>
    </div>
  </div>
</div>
</section>
