<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/DiscoverMeteor/DiscoverMeteor_It">Discover Meteor, italian translation</a></strong>
			- Contributed to the italian translation of <a href="https://www.discovermeteor.com">Discover Meteor</a>, an awesome introduction to Meteor by <a href="https://twitter.com/SachaGrief">Sacha Grief</a> and <a href="https://twitter.com/tmeasday">Tom Coleman</a>
		</h5>


    </div>
  </div>
</div>
</section>
